<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--Code first connection string type:-->
    <add name="ShopDataContext"
          providerName="System.Data.SqlClient"
          connectionString="Server=.;Database=ShopCF;Integrated Security=True;"/>

    <!--Model first connection string type:-->
    <!--<add name="ShopDataModel" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CFShopFromDesigner;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="ShopDataModelContainer" connectionString="metadata=res://*/ShopDataModel.csdl|res://*/ShopDataModel.ssdl|res://*/ShopDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Caching;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <mailSettings>
      <!--<smtp from="giuseppe.cristella@finconsgroup.com">
        <network host="mail-bari.finconsgroup.com" password="crist3ll4" userName="giuseppe.cristella@finconsgroup.com"/>
      </smtp>-->
      <smtp from="info@calzafacile.com">
        <network host="authsmtp.calzafacile.com" password="calzafacile" userName="web@calzafacile.com"/>
      </smtp>
    
    </mailSettings>
  </system.net>
</configuration>
